<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        Hii
        <% let a = [1,2,3,4,5]%>
        <%for(b of a){%> <!--CodeBlock cannot be 1 line must be used with Flower Bracket => {} -->
        <h1><%=b%></h1>
        <%}%>
    </body>
</html>